<div class="col-md-6">
  <div class="input-group">
    <span class="input-group-btn">
      <label class="btn btn-default">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
        <input type="file" id="filename" name="filename" ng2FileSelect [uploader]="uploader" [(ngModel)]="filename" #fileInput>
      </label>
    </span>
    <button type="submit" class="btn col-md-2 col-sm-12  col-xs-12  " (click)="upload()" [disabled]="!uploader.getNotUploadedItems().length">
      <span class="glyphicon glyphicon-upload"></span>Upload</button>
  </div>
</div>