<mat-card class="card">
  <mat-card-header>
    <mat-card-subtitle>Please enter your name, email and create a password.</mat-card-subtitle>
  </mat-card-header>
  <form class="login-form" #user="ngForm" name="user" (ngSubmit)="submit(user)">
    <fieldset ngModelGroup="name">
      <mat-form-field class="col-xs-12">
        <input ngModel name="first" matInput type="text" placeholder="First Name">
      </mat-form-field>
      <mat-form-field class="col-xs-12">
          <input ngModel name="last" matInput type="text" placeholder="Last Name">
        </mat-form-field>
    </fieldset>
    <mat-form-field class="col-xs-12">
      <input [(ngModel)]="user.email" matInput type="text" name="email" placeholder="email">
    </mat-form-field>
    <mat-form-field class="col-xs-12">
      <input [(ngModel)]="user.password" matInput type="password" name="password" placeholder="Password">
    </mat-form-field>
    <section class="col-xs-12">
        <mat-checkbox color="primary" [(ngModel)]="user.subscribedToNewsletter" name="subscribedToNewsletter" [checked]="true" >Subscribe to Newsletter</mat-checkbox>
    </section>

    <div>
      <button type="submit" mat-raised-button color="primary">Register</button>
    </div>
    <a routerLink="/login">Already have an account? Login here.</a>
  </form>
  <p>or</p>
  <b class="text-center">Register using Social</b>
    <hr>
  <!-- <button mat-raised-button color="accent"  (click)="socialSignIn('facebook')">Facebook</button> -->
<button mat-raised-button color="accent" (click)="socialSignIn('google')">Google</button>
<!-- <button (click)="socialSignIn('linkedin')">Sign up with Linkedin</button>  -->
</mat-card>