.chat-footer-container {
    position:fixed;
    bottom:25px;
    left:25px;
    right:25px;
}

.example-full-width {
    width: 90%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}