
<div class="alert alert-success" *ngIf ="reset">
   Password for <strong>{{email}}</strong> is successfully reset. <a [routerLink]="['/login']">Click here</a> to login. 
</div>

<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="center-block">Email:
      <input class="form-control" formControlName="email">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Password:
      <input class="form-control" formControlName="password">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Confirm Password:
      <input class="form-control" formControlName="confirmpassword">
    </label>
    <div *ngIf="cpwd.hasError('invalid')"> Invalid Password </div>
  </div>

  <button type="submit"
  [disabled]="resetForm.pristine" class="btn btn-success">Save</button>
</form>