<div class="PaymentTabContainer">
  <div class="container">

    <mat-tab-group>
      <mat-tab label="Saved Cards" *ngIf="isSavedCardAvailable">
        <form #savedCard="ngForm" (ngSubmit)="createSavedCharge(savedCard)" class="checkout">
          <div class="form-row">
              <p> {{savedCardString}} </p>
              <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          </div>
          <button type="submit">Pay</button>
        </form>
      </mat-tab>

      <mat-tab label="Debit/Credit Cards">
        <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
          <div class="form-row">
            <label for="card-info">Card Info</label>
            <div id="card-info" #cardInfo></div>
            <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          </div>
          <div class="form-row">
            <mat-checkbox [(ngModel)]="saveThisCard" name="saveThisCard">Save this card for faster checkout</mat-checkbox>
          </div>
          <button type="submit">Pay</button>
        </form>
      </mat-tab>

      <mat-tab label="Paypal">
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
