<mat-form-field class="example-full-width">
  <input matInput [(ngModel)]="email" placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="emailFormControl.hasError('required')">
    Email is
    <strong>required</strong>
  </mat-error>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <span *ngIf="email">
    <button mat-button [mat-dialog-close]="email" cdkFocusInitial color="accent">Send Reset Link</button>
  </span>
  <span *ngIf="email==''">
    <button mat-button cdkFocusInitial disabled>Send Reset Link</button>
  </span>
</div>