<div class="dropzone" appAwsUpload (fileDropped)="onFileDropped($event)">
  <input
    type="file"
    #fileDropRef
    id="fileDropRef"
    multiple
    (change)="fileBrowseHandler($event.target.files)"
  />
  <img src="../../assets/images/ic-upload-file.svg" alt="upload image" />
  <h3>Drag and Drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>
<div class="files-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <img src="../../assets/images/ic-file.svg" width="45px" alt="file" />
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
      <ng-template [ngIf]="file.progress !== 0 && !file.isUploadCompleted">
        <app-progess [progress]="file?.progress"></app-progess>
      </ng-template>
      <ng-template [ngIf]="file.isUploadCompleted">
        <a [href]="file.uploadLocation" target="_blank">Upload Link</a>
      </ng-template>
    </div>
    <div class="actions" *ngIf="file.progress === 0 && !file.isUploadCompleted">
      <img
        src="../../assets/images/ic-delete-file.svg"
        class="delete mr-2"
        width="20px"
        alt="file"
        (click)="deleteFile(i)"
      />
    </div>
    <div class="actions" *ngIf="file.isUploadCompleted">
      <h5 class="text-success">Completed</h5>
    </div>
  </div>
  <button
    mat-raised-button
    color="warn"
    class="save-btn"
    *ngIf="files.length"
    (click)="handleUpload()"
  >
    Save
  </button>
</div>
