.full-width {
    width: 50% !important;
    margin: 5% !important;
}
.next-width {
    display: block !important;
}
.alert-message{
    color: red;
}
@media screen and (max-width: 600px) {
    .full-width {
        width:90% !important;
        margin:0 auto !important;
    }
}
