<form class="full-width"  #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
  
  <div class="alert alert-message" *ngIf="errorMessage">{{errorMessage}}</div>

  <mat-form-field class="next-width">
    <input matInput type="password" name="currentPassword" [(ngModel)]="currentPassword" placeholder="Current Password"
      required>
  </mat-form-field>
  
  <mat-form-field class="next-width">
    <input matInput type="password" placeholder="New Password" name="password" [(ngModel)]="password" required>
  </mat-form-field>

  <mat-form-field class="next-width">
    <input matInput type="password" placeholder="Confirm Password" name="repeatPassword"
      [(ngModel)]="repeatPassword" required>
  </mat-form-field>
  
  <div>
    <button type="submit" mat-raised-button color="primary" [disabled]=changePasswordForm.invalid >Change Password</button>
  </div>

</form>